<a href="https://colab.research.google.com/github/revati2013/Assignment_1/blob/main/Assignment1_Q9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q9_a**

In [1]:
import pandas as pd
import numpy as np

In [2]:
ds=pd.read_csv('Q9_a.csv')

In [3]:
ds1=ds.iloc[:,1:]
ds1

    speed  dist
0       4     2
1       4    10
2       7     4
3       7    22
4       8    16
5       9    10
6      10    18
7      10    26
8      10    34
9      11    17
10     11    28
11     12    14
12     12    20
13     12    24
14     12    28
15     13    26
16     13    34
17     13    34
18     13    46
19     14    26
20     14    36
21     14    60
22     14    80
23     15    20
24     15    26
25     15    54
26     16    32
27     16    40
28     17    32
29     17    40
30     17    50
31     18    42
32     18    56
33     18    76
34     18    84
35     19    36
36     19    46
37     19    68
38     20    32
39     20    48
40     20    52
41     20    56
42     20    64
43     22    66
44     23    54
45     24    70
46     24    92
47     24    93
48     24   120
49     25    85

In [4]:
ds1.skew()

speed   -0.117510
dist     0.806895
dtype: float64

Skewness Inference: 1. Speed distribution is left skewed (negative skewness) 2. Distance distributin is right skewed (positive skewness)

In [5]:
ds1.kurt()

speed   -0.508994
dist     0.405053
dtype: float64

Kurtosis Inference: 1. Speed distribution is platykurtic (negative kurtosis i.e. flatter than normal distribution) 2. Distance distributin is leptokurtic (positive kurtosis i.e. peaked than noramal distribution)

**Q9_b**

In [6]:
d=pd.read_csv('Q9_b.csv')

In [7]:
ds2=d.iloc[:,1:]
ds2

            SP         WT
0   104.185353  28.762059
1   105.461264  30.466833
2   105.461264  30.193597
3   113.461264  30.632114
4   104.461264  29.889149
..         ...        ...
76  169.598513  16.132947
77  150.576579  37.923113
78  151.598513  15.769625
79  167.944460  39.423099
80  139.840817  34.948615

[81 rows x 2 columns]

In [8]:
ds2.skew()

SP    1.611450
WT   -0.614753
dtype: float64

Skewness Inference: 1. SP distributioon is Right skewed (Positive skewness) 2. WT distribution is Left skewed (Negative skewness)

In [9]:
ds2.kurtosis()

SP    2.977329
WT    0.950291
dtype: float64

Kurtosis Inference: Both the SP and WT distributions are  positive kurtosis i.e. Peaked than normal distribution